.row{
    padding: 20px;
    background-color: #074f45;
    box-shadow: 10px 10px 25px black;
    color:antiquewhite;
    border-radius: 1em;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-recti{
    box-shadow: 10px 10px 25px black;
}
.panel-body {
    padding: 20px;
}
div{
    background-color: #074f45;
    }
    