<div class="row">
    <h1>Proyectos realizados</h1>
    <br>
    <br>
    <br>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h2>Rectificaciones reinoso</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, amet? Quis, quaerat dignissimos modi nobis quidem sint ratione perferendis libero, consectetur accusantium assumenda fugiat hic ut cupiditate error laudantium qui!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/rectificaciones.png" class="img-fluid img-recti">
        </div>
        <br>
        <br>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h2>elmejorenvio.com</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, amet? Quis, quaerat dignissimos modi nobis quidem sint ratione perferendis libero, consectetur accusantium assumenda fugiat hic ut cupiditate error laudantium qui!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/portada elmejorenvio2.png" class="img-fluid img-recti">
        </div>
    </div>
</div>

