<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="APlogo">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/facebook.png" id="face"></a>
                <a href=""><img src="../../../assets/instagram.png" id="insta"></a>
                <a href=""><img src="../../../assets/github.png" id="git"></a>
                <button type="button" class="btn btn-light">INGRESO</button>
               </div>
        </div>
    </div>
</div>

