<div class="row">
    <h1>Estudios realizados</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Institucion 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda nulla tempora eligendi ea modi, temporibus corporis sapiente reiciendis perspiciatis, animi fugiat perferendis culpa commodi, libero debitis? Ipsum cumque consectetur iusto?</p>
        </ul>
        <ul>
            <li>
                <h1>Institucion 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda nulla tempora eligendi ea modi, temporibus corporis sapiente reiciendis perspiciatis, animi fugiat perferendis culpa commodi, libero debitis? Ipsum cumque consectetur iusto?</p>
        </ul>
        <ul>
            <li>
                <h1>Institucion 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda nulla tempora eligendi ea modi, temporibus corporis sapiente reiciendis perspiciatis, animi fugiat perferendis culpa commodi, libero debitis? Ipsum cumque consectetur iusto?</p>
        </ul>
    </div>
</div>
