<div class="panel-body ">
    <div class="row">
        <h1>Estudios cursados</h1>
        <div>
            <ul>
                <br>
                <ng-container *ngFor="let Educacion of estudios">
                    <li>
                        <h2>{{Educacion.institucion}}</h2>
                        <h5>({{Educacion.anioinicio}} - {{Educacion.aniofinal}})</h5>
                    </li>
                    <h4>{{Educacion.tituloobtenido}}</h4>
                    <br>
                </ng-container>
            </ul>
        </div>
    </div>
</div>