<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/foto perfil 2.png" id="fotoperfil" class="img-fluid">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h4 id="nombre">{{persona.nombre}} {{persona.apellido}}</h4>
    <p>Full Stack developer Jr. </p>
    <div>
      <div class="">
        <a class="btn bi-pencil-square" data-bs-toggle="modal" data-bs-target="#myModal" data-placement="top"
          data-toggle="tooltips" data-original-title="Edit"><i class="fa fa-pencil"></i>
        </a>
        <a class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltips"
          data-original-title="Delete"><i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Acerca de mi</h3>
      <p id="acercaDe">{{persona.acercaDe}}
      </p>
    </span>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar información</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="{{persona.nombre}}" name="Nombre y Apellido" class="form-control" id="nombre" />
        <input type="text" placeholder="{{persona.apellido}}" name="Nombre y Apellido" class="form-control"
          id="nombre" />

        <textarea class="text" placeholder="{{persona.acercaDe}}" name="Nombre y Apellido" class="form-control"
          id="nombre"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button class="btn btn-primary">Guardar cambios
        </button>
      </div>
    </div>
  </div>

</div>